.container-fluid {
    display: flex;
    flex-direction: column;
    height: 280vh;
    width: 100%;
    background-color: #100f19;
    
}

/* general */

h1 {
    color: #ffff
}


.pattern-cross-dots-x {
    background-image: radial-gradient(circle, #5632b8 0%, transparent 20%),
                      radial-gradient(circle, #5736b4 0%, transparent 20%);
    background-size: 20px 30px; 
    background-position: 10px 30px, 0px 0px; 

}
/* row principal */

.row-principal {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.col-descripcion-principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.col-descripcion-principal p {
    color: rgb(180, 178, 178);
    font-family: "Nunito", sans-serif;
    text-align: center;
}

h2 {
    color: #6e2584;
}

.titulo  {
    text-align: center;
    width: 0; /* Inicialmente oculto */
    overflow: hidden; /* Oculta el desbordamiento */
    white-space: nowrap; /* Evita el salto de línea */
    font-size: 3rem; /* Cambia el tamaño si lo deseas */
    margin: 0 auto;
    border-right: 0.15em solid #69237e; /* Efecto de cursor */
    color: #ffff;
    animation: typing 4s steps(18) 1s 1 normal both, blink 1s steps(1) infinite; /* Modifica el número de steps */
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 50%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent; /* Parpadeo del cursor */
    }
  }

  
  /* CSS */
  .button-58 {
   padding: 10px 40px;
   font-size: 18px;
   background-color: #69237e;
   color: #fff;
   text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
   display: inline-flex;
   align-items: center;
   justify-content: center;
   position: relative;
   border: 0;
   z-index: 1;
   user-select: none;
   cursor: pointer;
   text-transform: uppercase;
   letter-spacing: 1px;
   white-space: unset;
   padding: .8rem 1.5rem;
   text-decoration: none;
   font-weight: 900;
   transition: all 0.7s cubic-bezier(0,.8,.26,.99);
  }
  
  .button-58:before {
   position: absolute;
   pointer-events: none;
   top: 0;
   left: 0;
   display: block;
   width: 100%;
   height: 100%;
   content: '';
   transition: .7s cubic-bezier(0,.8,.26,.99);
   z-index: -1;
   background-color: #650668!important;
   box-shadow: 0 -4px rgb(21 108 0 / 50%) inset, 0 4px rgba(223, 75, 223, 0.99) inset, -4px 0 rgba(180, 14, 196, 0.5) inset, 4px 0 rgb(21 108 0 / 50%) inset;
  }
  
  .button-58:after {
   position: absolute;
   pointer-events: none;
   top: 0;
   left: 0;
   display: block;
   width: 100%;
   height: 100%;
   content: '';
   box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
   transition: .7s cubic-bezier(0,.8,.26,.99);
  }
  
  .button-58:hover:before {
   box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
  }
  
  .button-58:hover:after {
   box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  }
  
  .button-58:active {
   transform: translateY(4px);
  }
  
  .button-58:active:after {
   box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
  }
  



.col-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-img img {
    display: block;
    max-width: 500px; 
    height: 400px;
    border-radius: 50%;
    background: radial-gradient(circle, #0c010a, #69237e); 
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5); 
}

.row-about-me {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-top: #bb40b5 solid 1px;
    border-bottom: #bb40b5 solid 1px;
    box-shadow: 50px 20px 20px 50px rgba(0, 0, 0, 0.5); 
    background-color: #0b0a11;
    padding: 5em 0; 
    margin-top: 15em;
}

.col-img-descripcion {
    display: flex;
    justify-content: center;
    margin-top: 2em; 
    max-width: 30%;
}

.col-img-descripcion img {
    max-width: 400px; 
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.col-descripcion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2em; 
    width: 100%;
    height: auto; 
}

.col-descripcion h1 {}

.col-descripcion h3 {
    margin-top: 10px;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.col-descripcion p {
    margin-top: 20px;
    color: rgb(180, 178, 178);
    text-align: center;
    max-width: 900px; 
    padding: 0 1em; 
}



/* row skills */

.row-skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 6em;
}

.col-titulo {
    display: flex;
    margin-top: 5em;
}

.col-herramientas {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.card-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 0; 
    list-style: none; 
}

.card-item {
    flex: 1 1 calc(33.33% - 2em); /* Tres elementos por fila con margen */
    margin: 1em; 
    display: flex; /* Para centrar la tarjeta */
    justify-content: center; /* Centrar contenido de cada tarjeta */
}

.card {
    width: 350px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d; /* Habilitar transformaciones en 3D */
    transition: transform 0.6s ease-in-out; /* Duración y suavidad del giro */
    background-color: transparent; /* Quitar el fondo para evitar el cambio en hover */
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5); 
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Ocultar el reverso cuando no está visible */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    padding: 1em;
    box-sizing: border-box;
}

.card-front img {
    width: 50px;
    height: 50px;
    transition: transform 0.4s ease, box-shadow 0.4s ease; /* Añadir transiciones a transformaciones y sombras */
}

.card-front {
    display: flex;
    background-color: #050505;
    z-index: 2; /* Asegurar que el frente sea visible por defecto */
}

.card-back {
    flex-direction: column;
    background-color: #69237e;
    transform: rotateY(180deg); /* Girar el reverso para que no sea visible inicialmente */
}

.card:hover {
    transform: rotateY(180deg); /* Girar la tarjeta cuando se hace hover */
}


/* row proyectos */


.row-proyectos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 10em;
}

.col-titulo-proyectos {
    display: flex;
    justify-content: center;
}

.col-proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row-proyecto {
    display: flex;
    justify-content: center;
    width: 70%;
    background-color: #050505;
}

