.container-fluid {
    background-color: #100f19;
}


.pattern-cross-dots-x {
    background-image: radial-gradient(circle, #5632b8 0%, transparent 20%),
                      radial-gradient(circle, #5736b4 0%, transparent 20%);
    background-size: 20px 30px; 
    background-position: 10px 30px, 0px 0px; 

}
/* row principal */


.col .descripcion {
    color: rgb(180, 178, 178);
    font-family: "Nunito", sans-serif;
}

h2 {
    color: #6e2584;
}

.titulo  {
    width: 0; /* Inicialmente oculto */
    overflow: hidden; /* Oculta el desbordamiento */
    white-space: nowrap; /* Evita el salto de línea */
    border-right: 0.15em solid #69237e; /* Efecto de cursor */
    color: #ffff;
    animation: typing 5s steps(20) 1s 1 normal both, blink 5s steps(20) infinite; /* Modifica el número de steps */
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 65%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent; /* Parpadeo del cursor */
    }
  }

  
  /* CSS  boton*/ 
  .button-simple {
    width: 180px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #69237e;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-simple:hover {
    background-color: #550e66;
}

.button-simple:active {
    transform: translateY(2px);
}



.col-img img {
    max-width: 100%; 
    height: auto;
    border-radius: 50%;
    background: radial-gradient(circle, #0c010a, #69237e); 
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5); 
}


/*  */




.row-about-me {
    border-top: #bb40b5 solid 1px;
    border-bottom: #bb40b5 solid 1px;
    box-shadow: 50px 20px 20px 50px rgba(0, 0, 0, 0.5); 
    background-color: #0b0a11;
    margin-top: 12em;
    padding: 0;

}

.col-about-me h1{
    color: #ffff;
}

.col-about-me ul {
    margin: 0;
    padding: 0;
}
.col-about-me li {
    list-style: none;
    padding: 2em;
    margin: 2em;
    border-top: #bb40b5 solid 1px;
    border-bottom: #bb40b5 solid 1px;
    box-shadow: 50px 20px 20px 50px rgba(0, 0, 0, 0.5); 
    color: #fff;
}




/* row skills */

.row-skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 16em;
}

.col-titulo {
    display: flex;
    justify-content: center;

    color: #fff;
}

.col-herramientas {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.card-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 0; 
    list-style: none; 
}

.card-item {
    flex: 1 1 calc(33.33% - 2em); /* Tres elementos por fila con margen */
    margin: 1em; 
    display: flex; /* Para centrar la tarjeta */
    justify-content: center; /* Centrar contenido de cada tarjeta */
}

.card-skill {
    width: 350px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d; /* Habilitar transformaciones en 3D */
    transition: transform 0.6s ease-in-out; /* Duración y suavidad del giro */
    background-color: transparent; /* Quitar el fondo para evitar el cambio en hover */
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5); 
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Ocultar el reverso cuando no está visible */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    padding: 1em;
    box-sizing: border-box;
}

.card-front img {
    width: 50px;
    height: 50px;
     /* Añadir transiciones a transformaciones y sombras */
}

.card-front {
    display: flex;
    background-color: #050505;
    z-index: 2; /* Asegurar que el frente sea visible por defecto */
}

.card-back {
    flex-direction: column;
    background-color: #69237e;
    transform: rotateY(180deg); /* Girar el reverso para que no sea visible inicialmente */
}

.card-skill:hover {
    transform: rotateY(180deg); /* Girar la tarjeta cuando se hace hover */
}


/* row proyectos */

/* Contenedor principal de los proyectos */
.row-proyectos {
    margin-top: 15em;
    box-shadow: 
    30px 30px 50px 10px rgba(0.5, 0, 0, 0.5), 
    -10px -30px 50px 10px rgba(0.5, 0, 0, 0.5);
    color: #fff;
}

.card {
    background-color: #0b0a11;
    /* border-bottom: 15px solid #4b155c;
    border-right: 10px solid #4b155c; */
    box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, 0.5); 
}

.card p,h5 {
    color: rgb(180, 178, 178);
    font-family: "Nunito", sans-serif;
}

.card-header img {
    max-width: 100%; 
    height: auto;
}

.col-cards {
    margin-top: 5em;
}



.col-cards ul {
    list-style: none;
}

.col-cards li img {
    width: 20px;
    height: 20px;
}


/* row contacto */

.row-contacto {
    margin-top: 12em;

}

.form {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    max-width: 100%;
    background-color: #0b0a11;
    padding: 20px;
    border-radius: 10px;
    border-top: #bb40b5 solid 1px;
    border-bottom: #bb40b5 solid 1px;
    box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, 0.5); 
  }
  
  .form .title {
    color: royalblue;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 100%;
    height: 50px;
  }
  
  .form textarea {
    border-radius: 8px;
    height: 100px;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
  }
  
  .form button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
    width: 180px;
  }



/* media queries */
@media (min-width: 400px) {
    .col-img img {
        max-width: 500px; /* Imagen ligeramente más pequeña */
        height: 350px;    /* Ajustar altura proporcionalmente */
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5); /* Sombras más sutiles */
    }

    .col-cards img {
        width: 100%;
        height: auto;
    }

}


@media (max-width:500px) {
    .col-img img {
        max-width: 400px; /* Imagen ligeramente más pequeña */
        height: 250px;    /* Ajustar altura proporcionalmente */
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5); /* Sombras más sutiles */
    }

    .col-cards img {
        max-width: 250px;
        height: auto;
    }

    .form {
        width: 100%;
    }

}


