<div class="container-fluid pattern-cross-dots-xl">
    <div class="row row-principal">
        <!-- Columna principal -->
        <div class="col col-descripcion-principal">
            <p style="font-size: 24px; color: white;">Hola 👋 soy </p>
            <h1 class="titulo">Nicolás Arcamone <span></span></h1>
            <h2>Desarrollador Full Stack Trainee</h2>
            <p style="font-size: 15px; margin-top: 1em;">
                Soy estudiante de Licenciatura en Informática, apasionado por la programación y siempre en busca de nuevos desafíos tecnológicos. 
                Me esfuerzo por mejorar continuamente mis habilidades y aportar valor en cada proyecto en el que participo.
            </p>
            
            <button class="button-58" role="button">
                <span class="text">Ir a Proyectos</span>
            </button>
        </div>
        <!-- Columna de imagen -->
        <div class="col col-img">
            <img src="https://i.postimg.cc/xC100gRs/IMG-20231226-WA0039.png" alt="Foto de Nicolás Arcamone" />
        </div>
    </div>

    <div class="row row-about-me">
        <div class="col col-img-descripcion">
            <img src="https://i.postimg.cc/3wC622K5/programing-code-logo-icon-3d-render-568120-2147-1.png" alt="Icono de programación">
        </div>

        <div class="col col-descripcion">
            <h1>Sobre Mí</h1>
            
            <p>
                Soy estudiante en la Universidad Nacional de Hurlingham, donde me formo profesional y personalmente. Mi deseo de aprender me ha llevado a ser autodidacta, complementando mi formación universitaria y explorando diversas tecnologías a través de proyectos personales. Me apasiona el desarrollo de software y la resolución de problemas. Valoro la importancia del trabajo en equipo y la comunicación, creyendo que colaborar es esencial para el crecimiento.
                Estoy abierto a nuevas oportunidades y aprendizajes. ¡No dudes en contactarme para colaborar o charlar sobre tecnología!
            </p>

            <div class="col col-btn">
                <button class="button-58" role="button">
                    <span class="text">Ir a Proyectos</span>
                </button>
            </div>
        </div>

    </div> 

    <div class="row row-skills">

        <div class="col col-titulo">
            <h1>Herramientas</h1>
        </div>

        <div class="col-xl-12 col-herramientas">
            <ul class="card-list">
                <li *ngFor="let item of listLenguajes" class="card-item">
                    <div class="card">
                        <div class="card-front">
                            <img [src]="item.imagen" alt="">
                        </div>
                        <div class="card-back">
                            <p>{{ item.nombre }} </p>
                            <p>{{ item.descripcion }}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>


    <div class="row row-proyectos">
        <div class="col col-titulo-proyectos">
            <h1>Proyectos</h1>
        </div>

        <div class="col col-proyectos">

              <!-- proeycto 1 -->
              <div class="row row-proyecto">

                <div class="col col-img-proyecto">
                    <img src="https://th.bing.com/th/id/OIP.o92q1xkGZqhHykgzPUEJggHaEo?rs=1&pid=ImgDetMain" alt="">
                </div>

                
                <div class="col col-descripcion-p">
                    <h2>Bookstore</h2>
                    <p>Descripción: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur alias temporibus corporis beatae numquam accusamus, quisquam impedit nihil dicta magni corrupti voluptates labore, vitae quod. Optio exercitationem doloremque molestias ipsa!</p>
                    <div class="col col-lenguajes">
                        <ul>
                                <li>Nest Js</li>
                                <li>Angular</li>
                                <li>MySql</li>
                        </ul>    
                        
                    </div>
                    <a href="https://github.com/nicolasArcamone97"><img width="64" height="64" src="https://img.icons8.com/arcade/64/github.png" alt="github"/> </a>
                </div>

              </div>

               <!-- proeycto 2 -->
               <div class="row row-proyecto">

                <div class="col col-img-proyecto">
                    <img src="https://th.bing.com/th/id/OIP.o92q1xkGZqhHykgzPUEJggHaEo?rs=1&pid=ImgDetMain" alt="">
                </div>

                
                <div class="col col-descripcion-p">
                    <h2>Bookstore</h2>
                    <p>Descripción: Primer proyecto full stack, es un e-commerce donde se venden libros, posee su home, el detalle de lisbros, libros favoritos y su carrito de compras correspondiente</p>
                    <div class="col col-lenguajes">
                        <ul>
                                <li>Nest Js</li>
                                <li>Angular</li>
                                <li>MySql</li>
                        </ul>    
                        
                    </div>
                    <a href="https://github.com/nicolasArcamone97"><img width="64" height="64" src="https://img.icons8.com/arcade/64/github.png" alt="github"/> </a>
                </div>

              </div>

               <!-- proeycto 3 -->
               <div class="row row-proyecto">

                <div class="col col-img-proyecto">
                    <img src="https://th.bing.com/th/id/OIP.o92q1xkGZqhHykgzPUEJggHaEo?rs=1&pid=ImgDetMain" alt="">
                </div>

                
                <div class="col col-descripcion-p">
                    <h2>Bookstore</h2>
                    <p>Descripción: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur alias temporibus corporis beatae numquam accusamus, quisquam impedit nihil dicta magni corrupti voluptates labore, vitae quod. Optio exercitationem doloremque molestias ipsa!</p>
                    <div class="col col-lenguajes">
                        <ul>
                                <li>Nest Js</li>
                                <li>Angular</li>
                                <li>MySql</li>
                        </ul>    
                        
                    </div>
                    <a href="https://github.com/nicolasArcamone97"><img width="64" height="64" src="https://img.icons8.com/arcade/64/github.png" alt="github"/> </a>
                </div>

              </div>

        </div>

    </div>




</div>
