<div class="container-fluid pattern-cross-dots-xl">
    <div class="row row-principal d-flex justify-content-center  flex-row">
        <div class="col col-lg-12 py-3 m-4 mt-5" style="width: 90%;">
            <p style="font-size: 24px; color: white;">Hola 👋 soy </p>
            <h1 class="titulo">Nicolás Arcamone <span></span></h1>
            <h2>Desarrollador Full Stack Trainee</h2>
        </div>
        
        <div class="col-lg-3 d-flex flex-column justify-content-center align-items-center col-img  py-3 m-4">
            <img src="https://i.postimg.cc/xC100gRs/IMG-20231226-WA0039.png" alt="Foto de Nicolás Arcamone"  data-aos="zoom-in-right" data-aos-offset="500" data-aos-duration="500"/>
        </div>

        <div class="col col-lg-8 d-flex flex-column justify-content-center  py-3 m-4 ">
            <p class="descripcion" style="font-size: 18px; margin-top: 1em;">
                Soy estudiante de Licenciatura en Informática, apasionado por la programación y siempre en busca de nuevos desafíos tecnológicos. 
                Me esfuerzo por mejorar continuamente mis habilidades y aportar valor en cada proyecto en el que participo.
            </p>

            <div class="col col-lg-8 d-flex flex-row  mb-3">
              <a href="#proyectos" class="button-simple m-3" role="button" style="text-decoration: none;">
                <span class="text" >Ir a Proyectos</span>
              </a>
            </div>

        </div>

       


    </div>

    
    <div class="row row-about-me row d-flex justify-content-center  flex-row ">
        <div class="col col-about-me col-lg-12 py-4 mb-4" style="width: 90%;">
            <h1 class="text-center">Algunas cosas sobre mí</h1>
                <ul class="d-flex flex-column ">
                    <li data-aos="fade-up"
                    data-aos-anchor-placement="top-bottom"
                    data-aos-delay="500"
                    >🎓 Soy Estudiante en la Universidad Nacional de Hurlingham </li>
                    <li data-aos="fade-up"
                    data-aos-anchor-placement="top-bottom"
                    data-aos-delay="1000"
                    >💻 Apasionado por el desarrollo de software y proyectos personales</li>
                    <li data-aos="fade-up"
                    data-aos-anchor-placement="top-bottom"
                    data-aos-delay="1500"
                    >🤝 Valoro el trabajo en equipo y la comunicación</li>
                    <li data-aos="fade-up"
                    data-aos-anchor-placement="top-bottom"
                    data-aos-delay="2000"
                    >📚 Aprendiz autodidacta, siempre explorando nuevas tecnologías</li>
                </ul>
        </div>
    </div>



    <!-- row skill -->
    <div class="row row-skills">

        <div class="col col-titulo">
            <h1>Herramientas</h1>
        </div>

        <div class="col-xl-12 col-herramientas">
            <ul class="card-list">
                <li *ngFor="let item of listLenguajes" class="card-item">
                    <div class="card-skill">
                        <div class="card-front">
                            <img [src]="item.imagen" alt="">
                        </div>
                        <div class="card-back">
                            <p>{{ item.nombre }} </p>
                            <p>{{ item.descripcion }}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>


    <!-- row proyectos -->

    <div class="row row-proyectos" id="proyectos">
        <div class="col-lg-12 d-flex flex-column py-3 mb-4 mt-5">
          <h1 class="text-center">Algunos proyectos</h1>
          <div class="row">
            <div class="col d-flex flex-row flex-wrap justify-content-center align-items-center py-3 mb-3 col-cards">
              <div class="card d-flex flex-column flex-lg-row py-3 m-3" style="width: 80%;" data-aos="fade-left" data-aos-anchor-placement="bottom-bottom" *ngFor="let proyecto of listProyectos">
                <!-- Imagen del proyecto -->
                <div class="card-header col-12 col-lg-4" >
                  <img
                    [src]="proyecto.portada"
                    alt="Imagen del proyecto"         
                  />
                </div>
                <!-- Contenido del proyecto -->
                <div class="card-body col-12 col-lg-8">
                  <h5>{{proyecto.titulo}}</h5>
                  <p>{{proyecto.descripcion}}</p>
                  <ul class="d-flex flex-row  list-unstyled p-0">
                    <li *ngFor="let lenguaje of proyecto.listLenguajes" class="d-flex me-3">
                      <img [src]="lenguaje.imagen" alt="" style="max-height: 50px;">
                    </li>
                  </ul>
                </div>
              </div>
              <!--  -->
            </div>

            <h5 class="text-center">Podes ver más en mi repositorio de github <a  href="https://github.com/nicolasArcamone97" target="_blank">Github</a></h5>

          </div>
        </div>
      </div>
      
      
      <div class="row row-contacto">
        <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center py-3 mb-4">
            <form class="form py-4 mb-4" data-aos="zoom-in" action="https://formsubmit.co/nicolas.arcamone7@gmail.com" method="POST">
                <div class="title mb-4" >Contactame</div>
                <input type="text" placeholder="Ingrese su email" class="input">
                <textarea placeholder=""></textarea>
                 
                <button class="mt-4">Enviar</button>
            </form>
        </div>
      </div>


      <div class="row row-footer">
        <div class="col  py-6 m-4">
            <ul class="d-flex flex-row justify-content-center align-items-center" style="list-style: none;">
                <a href="https://www.linkedin.com/in/nicolas-arcamone" target="_blank" ><li class="py-4 m-4"><i class="bi bi-linkedin"></i></li></a>
                <a href="https://github.com/nicolasArcamone97" target="_blank"><li class="py-4 m-4"><i class="bi bi-github"></i></li></a>
            </ul>
        </div>
      </div>

</div>

















