<div class="container-fluid pattern-cross-dots-xl">
    <div class="row row-principal">

        <!-- Columna principal -->
        <div class="col col-descripcion-principal">
            <p style="font-size: 24px; color: white;">Hola 👋 soy </p>
            <h1>Nicolás Arcamone <span>&#160;</span></h1>
            <h2>Desarrollador Full Stack Trainee</h2>
            <p style="font-size: 15px; margin-top: 1em;">
                Soy estudiante de Licenciatura en Informática, apasionado por la programación y siempre en busca de nuevos desafíos tecnológicos. 
                Me esfuerzo por mejorar continuamente mis habilidades y aportar valor en cada proyecto en el que participo.
            </p>
            <button class="btn-proyects">Ir a proyectos</button>
        </div>

        <!-- Columna de imagen -->
        <div class="col col-img">
            <img src="https://i.postimg.cc/xC100gRs/IMG-20231226-WA0039.png" alt="Foto de Nicolás Arcamone" />
        </div>



    </div>

    <div class="row row-about-me ">

        <div class="col col-img">
            <img src="" alt="">
        </div>


        <div class="col col-descripcion">
            <h1>Sobre Mí</h1>
            <h3>Aunque no tengo experiencia laboral formal, estoy convencido de que poseo la capacidad para enfrentar cualquier desafío.</h3>
            <p>
                Actualmente estudio en la Universidad Nacional de Hurlingham, donde me están formando tanto profesional como personalmente. Mi deseo de aprender más me ha llevado a desarrollar un perfil autodidacta, lo que complementa mi formación universitaria y me permite tener un perfil aún más completo. 
                Estoy adentrándome en diferentes tecnologías y realizando diversos proyectos personales, donde aplico mis conocimientos y habilidades para crear soluciones innovadoras.            
                Me apasiona el desarrollo de software y la resolución de problemas a través de la tecnología. 
                Además de mi formación técnica, valoro la importancia del trabajo en equipo y la comunicación. Creo que colaborar con otros es fundamental para el crecimiento personal y profesional, y estoy entusiasmado por compartir ideas y aprender de la experiencia de mis compañeros.
                Estoy siempre abierto a nuevas oportunidades y aprendizajes. ¡No dudes en contactarme si deseas colaborar, intercambiar ideas o simplemente charlar sobre tecnología y desarrollo!
            </p>

        </div>





    </div> 


</div>
